@import "tailwindcss";

@theme {
  --color-primary: #ff6600;
  --color-dark-bg: #1a1a1a;
  --color-dark-sidebar: #000000;
  --color-dark-card: #252525;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
